<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>
        <!-- /api (sin slash) -->
        <rule name="API Proxy Root" stopProcessing="true">
          <match url="^api$" />
          <action type="Rewrite" url="http://127.0.0.1:8000/" />
        </rule>

        <!-- /api/... -->
        <rule name="API Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8000/{R:1}" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
